<%= form_for(@sighting) do |form| %>
    <% if @sighting.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited
                this sighting from being saved:</h2>
            <ul>
                <% @sighting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :date %>
        <br/>
        <%= form.date_select :date %>
    </div>
    <%= form.fields_for :location do |location_form| %>
        <div class="field">
            <%= location_form.label :location %>
            <br/>
            <%= location_form.text_field :name %>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :sighting_type %>
        <br/>
        <%= form.collection_select :sighting_type_id, SightingType.all, :id, :name %>
    </div>
    <div class="field">
        <%= form.label :description %>
        <br/>
        <%= form.text_area :description %>
    </div>
    <div class="field">
        <%= form.label :seen_by %>
        <br/>
        <%= form.text_field :sighter %>
    </div>
    <div class="field">
        <%= form.label :comment %>
        <br/>
        <%= form.text_area :comment %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>